/* Define CSS variables */
:root {
  --transparent-background: rgba(0, 0, 0, 0.5);
  --primary-color: #feff94; /* Use the first color as the primary color */
  --button-hover-color: #ad64c5; /* Use the second color for button hover state */
  --delete-button-color: #83d9ef; /* Use the third color for delete button */
  --edit-button-color: #007bff; /* Use the default blue color for edit button */
  --background-color: #ececec /* Gradient background */
  --text-color: #000; /* Black text color for better visibility */ 
}

body {
  margin: 0;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background-color); /* Apply the gradient background */
  font-family: Arial, sans-serif; /* Set a default font family */
}


/* Apply CSS variables */
.modal-background {
  background-color: var(--transparent-background);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#b87df3;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-home {
  color:white;

}

.navbar-brand {
  color: white; /* Set the color for navbar brand */
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: var(--text-color); /* Set the color for navbar links */
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--edit-button-color); /* Change the color on hover */
}

.App {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px; /* Adjust margin to accommodate the navbar height */
  background:#ececec
}

.welcome-container {
  margin-top: 30px;
}

.get-started-button {
  background-color: var(--primary-color); /* Use the primary color for the button */
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Add stroke to heading */
.App header h1 {
  color: #224228; /* Dark blue color */
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5); /* Adjust shadow color */
  text-shadow: 0 0 10px rgba(32, 90, 86, 0.5)
}

/* Add stroke to paragraph */
.App header p {
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
  font-weight: bold; /* Make the text bold */
}

.dropdown {
  position: relative;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: var(--text-color); /* Set text color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.landing-page-container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 450px; 
  padding-right: 450px; 
}

.landing-header h1 {
  font-size: 2.5rem;
  color: #111f4d; /* Dark blue color */
}

.landing-header p {
  font-size: 1.2rem;
  color: #111f4d; /* Dark blue color */
  margin-top: 20px;
}

.get-started-button {
  background-color: #1f6140; /* Dark blue color */
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold; /* Adding bold font weight */
  text-decoration: none;
  transition: background-color 0.3s;
}

.get-started-button:hover {
  background-color: #16261e; /* Same color as default */
  color: white; /* Same color as default */
}

